:root {
    --black: #000;
    --deeppurple: rgb(12,6,17);
    --offWhite: rgb(204,208,213);
    --pureWhite: #fff;
    --fireTeal: rgb(48, 187, 213);
    --glowTeal: rgb(204, 247, 255);
    --neonPink: rgb(245, 58, 186);
    --neonPinkDark1: rgba(245, 58, 186, 0.3);
}